@charset "utf-8";

body {
  margin: 0;
  box-sizing: border-box;
}
h1{
  margin: 0;
  font-size: 0;
}
h2{
  margin: 0;
  font-weight: normal;
}
h3{
  margin: 0;
  font-weight: normal;
}
p{
  margin: 0;
}
img{
  margin: 0;
  vertical-align: bottom;
}

.btn{
  text-decoration: none;
  color: white;
  background-color: #339E10;
  padding: 10px 16px;
  border-radius: 8px;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

/* hero */
.hero{
  text-align: center;
  background: #99E6FF url(bg.png) repeat-x bottom;
  padding: 71px 0 0;
}
.hero div .btn{
  display: inline-block;
  margin: 64px 0 0;
}
.hero img{
  margin:64px 0 0;
}

/* features */
.features{
  padding: 74px 0;
}
.features h2{
  text-align: center;
}
.feature{
  margin: 74px 16px 0;
}
.feature div{
  text-align: center;
}
.feature h3{
  margin: 26px 0;
}
.feature p{
  margin: 26px 0;
}

/* footer */